<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock %}</title>

    <!-- BOOTSTRAP IMPORT CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">

    <!-- JQUERY -->
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!-- CDN -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->

    <!-- DATATABLES IMPORT -->
    <link rel="stylesheet" type="text/css" href="{% static 'dataTables/jquery.dataTables.min.css' %}">
    <script type="text/javascript"  src="{% static 'dataTables/jquery.dataTables.min.js' %}"></script>
    <!-- CDN -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script> -->


    <!-- TOASTR IMPORT -->
    <link rel="stylesheet" href="{% static 'toastr/toastr.min.css' %}">
    <script type="text/javascript" src="{% static 'toastr/toastr.min.js' %}"></script>
    

    <!-- ESTILOS -->
    <!-- CSS MAIN STYLE -->
    <link rel="stylesheet" href="{% static 'css/style.main.css' %}">
    {% block estilos %} {% endblock %}

</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-md navbar-light bg-secondary px-3 fixed-top">

        <a class="navbar-brand" href="#">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class=" d-inline-block align-top" alt="">
        
        </a>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav jus">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            </ul>
            {% if "usuario" in request.session %}  
            <a href="/account/logout" class="btn btn-secondary ">Logout</a>
            {% endif %}

        </div>
    </nav>
    <!-- CONTENIDO -->
    <div id="main-container">

    <!-- BREADCRUMB Y TITULO -->
    <div class="row mx-5 row-cols-2">

        <!-- Breadcrumb  -->
        <div class="col-12 my-2">
            
            <nav aria-label="breadcrumb" class="rounded-3 px-4"  id="breadcrumb">
                <ol class="breadcrumb py-2">
                {% block breadcrumb %}
                <!-- 
                <li class="breadcrumb-item"><a href="/shows">Main</a></li>
                <li class="breadcrumb-item active" aria-current="page">Next</li> 
                 -->
                {% endblock %}
                </ol>
            </nav>
            
        </div>
    </div>


            {% block contenido %} {% endblock %}

    </div>

    <!-- BOOTSTRAP IMPORT JS -->
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>

    <!-- {% if messages %}
        {% for message in messages %}   
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {% endfor %}
    {% endif %} -->
</div>

</body>

<script> 

toastr.options = {
  "closeButton": true,
};

{% if messages %}
    {% for message in messages %}    
        toastr.{{message.tags}}(`{{ message }}`)
    {% endfor %}
{% endif %}


</script>


{% block scripts %} {% endblock %}
  
</html>